.flex-container{
    display: flex;
    flex-direction: column;
}

.nav{
    background-color: white;
}

.nav a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.nav-2{
    background-color: red;
}

.nav-2 a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

main{
    text-align: center;
    border: 2px solid black;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 30px;
}

main input, button{
    font-size: 20px;
}

.section-1{
    text-align: center
}

.section-1 div{
    display: inline-block;
    margin: 15px;
    border: 2px solid red;
    padding: 15px;
    font-size: 18px;
}

.section-2{
    text-align: center;   
}

.section-2 .div-1{
    text-align: center;  
    background-color: red;
    
}

.section-2 .div-1 div{
    text-align: center; 
    display: inline-block;
    width: 400px;
}

.section-3{
    text-align: center; 
    display: block;
}

.section-3 div{
    display: inline-block;
    font-size: 20px;
}

.section-3-div p{
    display: block;
    font-size: 20px;
    border: 2px solid black;
}

.section-4{
    text-align: center;
}

.section-4 div{
    border: 2px solid red;
    width: 600px;
    flex-direction: column;
    justify-content: left;
    
}

footer{
    background-color: #242121
}

.footer-div{
    display: inline-block;
    width: 15%;
    vertical-align: top;
  
}

.footer-div ul{
    list-style: none;
    padding-inline-start: 0px !important;
    margin-block-start: 0em !important ;
    margin-block-end: 0em !important;
}

.footer-div ul,p{

    color: white;
}

